<!doctype html>
<html>
<head>
    <title>KidsList | Simple Gift List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center kidslist-hero">
        <h1><span class="fa fa-gift"></span> KidsList</h1>
        <p class="lead">The simplest way to capture gift ideas, track purchases, and remember what works.</p>

        <p class="hero-actions">
            <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Sign Up</a>
        </p>
    </div>

</div>
</body>
</html>
